*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --cool-mustard: #ebe98c;
    --cool-beige: #e6e0c8;
    --almost-beige: #f5f0db;
    --soft-red: #ffafca;
}

html {
    min-width: fit-content;
}

body {
    margin: 0;
    padding: 0;
}

.hello {
    color: black;
    font-size: 200px;
    /* background: url('./ryuzaki.jpg'); */
}

img {
    min-height: auto;
    min-width: auto;
}

h1 {
    font-size: 100px;
}

.background {
    background-color: var(--cool-beige);
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
 
}

#footy {
    width: 300px;
    height: auto;
    background-color: var(--cool-beige);
    bottom: 0;
}


/* .header-bg {
} */

.separator-div {
    background-color: var(--cool-beige);
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.separator-div > img {
    max-width: 20%;
    max-height: 20%;
}

.small-icon {
    max-width: 50%;
    max-height: 50%;
}

/* .header-sections {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */


.menu-language-text {
    color: rebeccapurple;
    font-size: 27px;
    font-weight: bold;
    padding-left: 20px;
}


.main-header {
    grid-column: 2;
    background-color: var(--cool-beige);
    display: flex;
    justify-content: space-around;
    border-radius: 0;
}

.main-header > div {
    margin: 20px;
}


.container {
    grid-column: 2;
    min-width: 60vw;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--cool-mustard);
    border-radius: 23px;
}

.main-header .container {
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
}

.main-header img {
    max-height: 90%;
}


.main-nav {
    background-color: whitesmoke;
    border-radius: 12px;
}

.main-nav ul {
    margin: 1em 0 0.5em;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    padding: 5px;
}


/* I KNOW HOW WE CAN MAKE IT LINE UP!!!
    JUST MAKE .MENU-CONTAINER BE 3 COLUMNS,
    THEN SPAN THE COOL-BEIGE ACROSS THOSE COLUMNS,
    
    THEN CREATE ANOTHER GRID INSIDE COLUMN 2,
    AND GIVE IT TWO COLUMNS: 1FR AND 3FR.

    THEN INSIDE THE SECOND COLUMN, THE ONE 
    THAT TAKES 3FR, PUT THE DIV WITH THE ALMOST-WHITE,
    AND THE OTHER COLUMN STAYS THE SAME COLOUR AS OUTSIDE THIS
    SECOND GRID, WHICH IS COOL-BEIGE
*/

.menu-container {
    grid-column: 1 / span 3;
    grid-row: 3;
    background-color: var(--almost-beige);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 6fr 5fr;
    max-height: 100vh;
}

#menu-container-foot {
    grid-row: 2;
    grid-column: 1 / span 3;
    background-color: var(--cool-beige);
}

.menu-center-container {
    grid-column: 2;
}

.menu-grid-bg {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.menu-right {
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: whitesmoke;
    padding: 20px;
    display: grid;
    grid-template-rows: 49px 1fr;
}

.menu-left {
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 27px;
}

.menu-left > img {
    border-radius: 12px;
    max-width: 189px;
    max-height: 77px;
    margin-top: 20px;
}

.menu-left > img:hover {
    filter: brightness(110%);
    filter: opacity(70%);
    cursor: pointer;
}

.selected-menu-lang {
    height: 49px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(242, 255, 207) 20%, rgb(253, 242, 221) 54%, rgba(247,226,185,1) 100%);
    color: darkslateblue;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: -10px;
    border-radius: 10px;
    border-bottom: solid whitesmoke 3px;
    border-right: solid whitesmoke 3px;
    box-shadow: 1px 4px 4px gainsboro;
}

.food-grid-outer {
    background-color: whitesmoke;
    grid-row: 2;
    margin-top: 15px;
    padding: 20px;
}

.food-grid-inner {
    background-color: var(--cool-beige);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 3px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    border-radius: 4px;

}

.food-grid-inner > img {
    margin: 2px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 3px;
    z-index: 3;
}

.food-grid-inner > img:hover {
    cursor: pointer;
}

.svg {
    max-width: 20px;
    max-height: 20px;
}

/* WE'RE TESTING HOW WE'RE GOING TO APPLY THE IMAGES
TO THE DISH DIVS. GYUMESHI WITH CSS, THE REST WITH JS */
